vers.c
pimd
debian/files
pimd.map
ChangeLog.*
*.o
.*.d
*~
\#*
.\#*

build-stamp
configure-stamp
debian/pimd.debhelper.log
debian/pimd.postinst.debhelper
debian/pimd.postrm.debhelper
debian/pimd.prerm.debhelper
debian/pimd.substvars
