vers.c
pimd
pimd.map
ChangeLog.*
*.o
.*.d
*~
\#*
.\#*

build-stamp
configure-stamp

# autoconf
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.h.in
/configure
/depcomp
/install-sh
/missing
