.deps
*~
.*.d
\#*
.\#*
ID
GPATH
GRTAGS
GSYMS
GTAGS
ChangeLog.tex
ChangeLog.pdf
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-stamp
compile
config.h
config.h.in
config.log
config.status
configure
configure-stamp
depcomp
install-sh
missing
pimd.service
stamp-h1
